<h1>Edit your Profile</h1>
<h2 class="about">Use the form below to update your profile</h2>

<form id="myform" action="/users/<%= @current_user.id %>" method="post">
  <input id="myinput" name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input id="myinput" type="hidden" name="_method" value="put">
  <p>
    <label for="name">First Name:</label>
    <input id="myinput" type="text" name="profile[first_name]">
  </p>
  <p>
    <label for="name">Last Name:</label>
    <input id="myinput" type="text" name="profile[last_name]">
  </p>
  <p>
    <input id="myinput" type="submit" value="Update Profile!">
  </p>
</form>
