<div class="row">
    <div class="col-md-4 elliot"></div>
    <div class="col-md-4">
        <h2>Turning your bad habit into something good.</h2>
    </div>
</div>
<div class="row main">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quis, obcaecati. Consequatur corporis voluptatum rerum explicabo iure cupiditate a. Voluptatum non, tempora atque minima optio harum quis modi quisquam eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quis, obcaecati. Consequatur corporis voluptatum rerum explicabo iure cupiditate a. Voluptatum non, tempora atque minima optio harum quis modi quisquam eum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quis, obcaecati. Consequatur corporis voluptatum rerum explicabo iure cupiditate a. Voluptatum non, tempora atque minima optio harum quis modi quisquam eum.</p>
    </div>
    <div class="col-md-4 images">
        <img src="/assets/elliot.jpg" alt="">
        <img src="/assets/jenn.jpg" alt="">
    </div>
</div>