<h1>Welcome to Swear Jar, <%= @current_user.first_name %></h1>
<h2>This application will help you give up your bad habit.</h2>
<h4>Think of it like your virtual swear jar</h4>
<h5>From your <a href="/profile">Profile Page</a> you can set missions to overcome your bad habits. When you break your promise, use the "Add to Jar" button to add money to your jar.</h5>
<h5>Then, when you're ready, hit the "Pay Now" button to send your swear jar funds to the charity of your choice</h5>
<h5>Got everything? Cool! Let's jumpt to your <a href="/profile">Profile Page</a> to get you set up with your first mission.</h5>

<style>
	h4, h5 {
		text-align: center;
	}
</style>