/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table, td, th {
	border: 2px solid #D1DED5;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

th {
	height: 50px;
	text-align: left;
	background-color: #D1DED5;
}

td {
	height: 50px;
	vertical-align: bottom;
	padding: 15px;
}

th, td {
	text-align: center;
}

#no-requests {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.btn-destroy {
	background: #776D5A;
	color: #EFF0D1;
}

.btn-create {
	background: #68B25B;
	color: #EFF0D1;
}