* {
  margin: 0;
  padding: 0;
}

a {
    font-family: 'Raleway', sans-serif;

}
#menu {
  height: 60px;
  padding: 0 25px 0;
  text-align: right;
}

ul li {
  display: inline-block;
  width: 84px;
  text-align: center;
}

ul li a {
  color: #68B25B;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  margin-top: 0px;
}

ul li.selected {
  background: #EFF0D1;
  border-radius: 20px;
}

ul li.selected a {
  color: #384047;
}

select {
  width: 94%;
  margin: 11px  0 11px 2%;
  float: left;
}

  
/**Modiy CSS to hide links on small width and show button and select
Also hides select and button on larger width and shows links
**/

/**media queries for screen size. 320px is an iPhone screen's width in portrait; 568 is landscape**/

@media(min-width:320px) and (max-width: 568px) {
  #menu ul {
    display: none;
  }
}
/*when it gets to a min width of 568px it will hide the select button*/

@media(min-width: 568px) {
  #menu select, #menu button {
    display: none;
  }
}




























