<footer class="site-footer">
    <div class="row" id="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h3>Swear Jar</h3>
            <h5>turning your bad habit into something good</h5>
        </div>
        <div class="col-md-3 list">
            <li><a href="">About</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Blog</a></li>
        </div>
        <div class="col-md-3">
            <h3>Follow us!</h3>
            <ul class="icons">
                <li><a href=""><span class="ss-facebook"></span></a></li>
                <li><a href=""><span class="ss-twitter"></span></a></li>
                <li><a href=""><span class="ss-instagram"></span></a></li>
                <li><a href=""><span class="ss-pinterest"></span></a></li>
            </ul>
        </div>
    </div>
</footer>